/* input(538,30): run-time error CSS1046: Expect comma, found '0'
input(538,34): run-time error CSS1046: Expect comma, found '/' */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Noto Sans, sans-serif;
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 100%;
  font-size: 15px;
  line-height: 1.42857143;
}

.site-content {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  padding-top: 1px;
}

.hidden {
  display: none !important;
}

/* content.less*/
.background-container {
  background-image: url(../images/img/open-realm-bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
h1 {
  text-transform: uppercase;
  text-shadow: 0 5px 0 #000;
  font-size: 10vmin;
  margin: 10px 0 5vh;
  font-weight: bold;
}
h2 {
  text-transform: uppercase;
  text-shadow: 0 5px 0 #000;
  color: #9baad3;
  font-size: 3vmin;
  margin: 5vh 0 40px;
  font-weight: bold;
}
.open-realm {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px 40px;
}
.open-realm var {
  text-transform: none;
}
.open-realm__header,
.open-realm__instructions {
  flex: 1;
}
.open-realm__text {
  line-height: 1.8em;
  opacity: 0.9;
  font-size: 14px;
  text-shadow: 0 2px 0 #000;
}
.open-realm__paragraph {
  margin-top: 20px;
}
.open-realm__buttons {
  padding: 0 30px;
  display: inline-block;
}
.open-realm__buttons > * {
  width: 100%;
  margin-bottom: 20px;
}
.open-realm__instructions_list {
  font-size: 33px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  max-width: 500px;
  margin: 0 auto 40px;
  text-shadow: 0 5px 0 #000;
}
.open-realm__details {
  opacity: 0.5;
  font-size: 12px;
  padding: 0 45px;
  margin: 0 0 10.5px;
}
.open-realm-trouble {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.open-realm-trouble__header {
  font-size: 1em;
}
.open-realm-trouble__instructions {
  opacity: 0.5;
  margin: 0 0 10.5px;
}

h3 {
  margin-top: 21px;
  margin-bottom: 10.5px;
  font-weight: bold;
  line-height: 1.1;
}

@media (max-width: 768) and (orientation: landscape) {
  h1 {
    margin-bottom: 40px;
  }
  .background-container {
    background-image: url(../images/img/open-realm-bg-desktop.jpg);
    background-size: contain;
    background-position: right top;
  }
  .open-realm {
    display: inline-block;
    text-align: left;
    padding: 0 40px;
  }
  .open-realm__buttons,
  .open-realm__text,
  .open-realm__details {
    padding-left: 0;
    max-width: 300px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 42px;
    line-height: 1.1;
  }
  h2 {
    font-size: 14px;
    line-height: 1.1;
  }
  .open-realm {
    display: inline-block;
    text-align: left;
    max-width: 960px;
    padding: 170px 40px 0;
    margin: 0 auto;
  }
  .open-realm__header {
    max-width: 500px;
  }
  .open-realm__buttons {
    padding: 0;
    margin-top: 45px;
  }
  .open-realm__buttons > * {
    width: auto;
    margin-right: 10px;
  }
  .open-realm__instructions_list {
    max-width: none;
    margin: 0 0 40px;
  }
  .open-realm__text {
    max-width: 500px;
    padding: 0;
    font-size: 16px;
    margin: 0 0 10.5px 0;
  }
  .open-realm__text ~ .open-realm__buttons {
    margin-top: 30px;
  }
  .open-realm__details {
    padding: 0;
  }
  .background-container {
    background-image: url(../images/img/open-realm-bg-desktop-shadow.jpg);
    background-size: contain;
    background-position: right 30%;
    max-width: 1300px;
    margin: 0 auto;
    right: 0;
  }
}
@media (min-width: 768px) and (max-height: 768px) and (orientation: landscape) {
  .open-realm {
    padding-top: 30px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.footer {
  background: #000 0 0;
  color: #898989;
  position: relative;
  font-size: 13px;
  padding: 27px 0 25px;
}

.footer ul {
  list-style: none;
}

.footer a,
.footer a:hover,
.footer a:visited {
  color: #898989;
}

.footer a,
.footer a:hover,
.footer a:visited,
.footer .site-footer__links a:hover {
  color: #898989;
}

.footer p {
  margin: 4px 0 6px;
}

.site-footer__links {
  padding: 0;
}

.site-footer__links a {
  color: #b7b7b7;
}

.site-footer__links li {
  display: inline-block;
}

.with-divider > li {
  padding: 0 6px;
  border-right: 1px solid #b7b7b7;
  line-height: 14px;
}

.with-divider li:last-child {
  border: none;
  padding-left: 3px;
}

.icon-logo {
  margin-top: 7px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-mojang {
  float: left;
  width: 60px;
  height: 50px;
  margin-bottom: 12px;
  background-image: url("../images/svg/mojang.svg");
}

.icon-logo-microsoft-studios {
  float: right;
  background-image: url("../images/svg/logo-microsoft-studios.svg");
  width: 90px;
  height: 50px;
}

.icon-logo-microsoft {
  background-image: url("../images/svg/logo-microsoft.svg");
  width: 107px;
  height: 23px;
}

@media (max-width: 768px) {
  .site-footer__links li {
    display: block;
  }

  .with-divider > li {
    border: none;
    padding: 3px 0 0px 0;
  }

  .icon-logo {
    margin-bottom: 12px;
  }

  .icon-mojang {
    width: 98px;
    height: 15px;
    float: right;
  }

  .icon-logo-microsoft-studios {
    width: 96px;
    height: 28px;
    float: left;
  }
}

.ms-footer {
  font-family: Segoe UI, sans-serif;
  background-color: #2f2f2f;
  padding: 22px 0 16px;
}

.ms-footer .ms-links {
  text-align: right;
  padding: 0;
}

.ms-footer li {
  display: inline-block;
  margin-right: 12px;
}

.ms-footer .ms-links li:last-child {
  margin-right: 0;
}

.ms-footer a {
  color: #b7b7b7;
}

.ms-copyright {
  color: #b7b7b7;
}

.ms-footer .ms-footer__logo-link {
  width: 107px;
  display: inline-block;
  position: relative;
}

.ms-footer .icon-logo-microsoft {
  position: absolute;
  left: 0;
  top: -17px;
  margin-top: 0;
}

@media (max-width: 768px) {
  .ms-footer .ms-links {
    text-align: center;
  }

  .ms-footer .ms-links li {
    margin-bottom: 12px;
  }
}

.small {
  font-size: 86%;
}

.col-xs-6 {
  width: 50%;
}

@media (max-width: 576px) {
  .pull-up {
    display: flex;
    justify-content: flex-end;
    position: absolute;
  }
}

.btn-secondary {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: #000;
}

.btn-secondary:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
}

.btn-secondary:active,
.btn-secondary:hover {
  color: #fff;
}

.btn-secondary:active:not([disabled]):not(.disabled),
.btn-secondary:hover:not([disabled]):not(.disabled) {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-link {
  /* color: ; */
  text-decoration: none;
}

.btn-link:active,
.btn-link:focus,
.btn-link:hover {
  /* color: ;
  background-color: ; */
  text-decoration: none;
}

.btn {
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 0;
  border: none;
  white-space: normal;
}

.btn-lg {
  padding: 21px 35px;
  line-height: 1.3333333;
}

.btn-lg--wide {
  min-width: 210px;
}

.btn-default {
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .btn-lg {
    padding: 21px 32px;
  }
}

.btn-video {
  background-color: transparent;
  border: 2px solid;
  border-radius: 0;
  padding: 13px 20px;
  margin: 30px 0 50px 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: normal;
}
/* .btn-video:hover {
  background-color: ;
  color: ;
}
.btn-video .btn-video__icon polygon.play {
  fill: ;
}
.btn-video .btn-video__icon polygon.outline {
  fill: ;
}
.btn-video:active .btn-video__icon polygon.play,
.btn-video:focus .btn-video__icon polygon.play,
.btn-video:hover .btn-video__icon polygon.play {
  fill: ;
}
.btn-video:active .btn-video__icon polygon.outline,
.btn-video:focus .btn-video__icon polygon.outline,
.btn-video:hover .btn-video__icon polygon.outline {
  fill: ;
} */
.btn-video .btn-video__text {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.btn-video .btn-video__icon {
  display: inline-block;
  width: 35px;
  height: 40px;
  vertical-align: middle;
}

a:visited .btn-primary:before,
.btn-primary:before {
  border-top: 4px solid #64fd1f;
  border-bottom: 4px solid #1e8c03;
  border-left: 4px solid #156c00;
  border-right: 4px solid #47d009;
}

.btn-primary {
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 100;
  color: #fff;
  border: none;
  border-radius: 0;
  text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  -webkit-transform: translateZ(0);
  transition: none;
  max-width: 100%;
}

.btn-primary:before,
.btn-primary:after {
  content: "";
  display: block;
  position: absolute;
  transition: all 0.15s ease-in-out, opacity 0.1s linear;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.btn-primary:before,
.btn-primary:visited:before {
  z-index: -1;
  background-color: #31ae1f;
  /* -webkit-box-shadow: ;
  -moz-box-shadow: ;
  box-shadow: ; */
}

.btn-primary {
  background-color: #008542;
}

.btn-primary.btn-primary--grow:before,
.btn-primary.btn-primary--grow:after,
.btn-primary.btn-primary--grow-keep-color:before,
.btn-primary.btn-primary--grow-keep-color:after {
  transition: all 0.625s cubic-bezier(0, 0.8, 0.26, 0.99), opacity 0.05s linear;
}

.btn-primary:after {
  background: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMzcsIDE3NiwgNykiIC8+PC9zdmc+")
      top left no-repeat,
    url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMTQxLCAyNTMsIDkyKSIgLz48L3N2Zz4=")
      top right no-repeat,
    url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMTgsIDg4LCAzKSIgLz48L3N2Zz4=")
      bottom left no-repeat,
    url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMzYsIDE4MCwgNikiIC8+PC9zdmc+")
      bottom right no-repeat;
}

.btn-primary:active:not([disabled]):not(.disabled),
.btn-primary:hover:not([disabled]):not(.disabled) {
  color: #fff;
}

.btn-primary:active:not([disabled]):not(.disabled).btn-primary--grow:before,
.btn-primary:active:not([disabled]):not(.disabled).btn-primary--grow:after,
.btn-primary:active:not([disabled]):not(.disabled).btn-primary--grow-keep-color:before,
.btn-primary:active:not([disabled]):not(.disabled).btn-primary--grow-keep-color:after,
.btn-primary:hover:not([disabled]):not(.disabled).btn-primary--grow:before,
.btn-primary:hover:not([disabled]):not(.disabled).btn-primary--grow:after,
.btn-primary:hover:not([disabled]):not(.disabled).btn-primary--grow-keep-color:before,
.btn-primary:hover:not([disabled]):not(.disabled).btn-primary--grow-keep-color:after {
  transform: scale(1.11);
}

.btn-primary:active:not([disabled]):not(.disabled):not(.btn-primary--grow-keep-color):before,
.btn-primary:hover:not([disabled]):not(.disabled):not(.btn-primary--grow-keep-color):before {
  background-color: #272727;
  border-top-color: #3d3d3d;
  border-bottom-color: #000;
  border-right-color: #2f2f2f;
  border-left-color: #171717;
}

.btn-primary:active:not([disabled]):not(.disabled):not(.btn-primary--grow-keep-color):after,
.btn-primary:hover:not([disabled]):not(.disabled):not(.btn-primary--grow-keep-color):after {
  opacity: 0;
}

.btn-primary:active:not([disabled]):not(.disabled) .btn-primary__icon--next,
.btn-primary:hover:not([disabled]):not(.disabled) .btn-primary__icon--next {
  animation: bounceNextArrow 1.2s 2;
}

.btn-primary:active:not([disabled]):not(.disabled) .btn-primary__icon--prev,
.btn-primary:hover:not([disabled]):not(.disabled) .btn-primary__icon--prev {
  animation: bouncePrevArrow 1.2s 2;
}

.btn-primary:active:not([disabled]):not(.disabled) .btn-primary__icon--download,
.btn-primary:hover:not([disabled]):not(.disabled) .btn-primary__icon--download {
  animation: bounceDownloadArrow 1.2s 2;
}

.btn.btn-primary.disabled,
.btn.btn-primary[disabled] {
  opacity: 1;
}

.btn.btn-primary.disabled:before,
.btn.btn-primary.disabled:visited:before,
.btn.btn-primary[disabled]:before,
.btn.btn-primary[disabled]:visited:before {
  background-color: #908c8a;
  border-top: 4px solid #a7a5a4;
  border-bottom: 4px solid #706d6b;
  border-left: 4px solid #565250;
  border-right: 4px solid #a7a5a4;
}

.btn.btn-primary.disabled:after,
.btn.btn-primary[disabled]:after {
  background: url("data:image/svg+xml; base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMTQ0LCAxNDAsIDEzOCkiIC8+PC9zdmc+")
      top left no-repeat,
    url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMjA5LCAyMDcsIDIwNikiIC8+PC9zdmc+")
      top right no-repeat,
    url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoNjYsIDYzLCA2MikiIC8+PC9zdmc+")
      bottom left no-repeat,
    url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMTQzLCAxMzksIDEzNykiIC8+PC9zdmc+")
      bottom right no-repeat;
}

.btn-primary__sub-text {
  display: block;
  font-size: 14px;
  line-height: 8px;
  margin: 14px 0 7px 0;
}

.btn-primary__icon-text {
  margin-left: 16px;
  vertical-align: middle;
}

.btn-primary__icon--download {
  position: relative;
  top: 3px;
  transform: rotate(90deg);
}

.btn-primary__icon--prev,
.btn-primary__icon--next {
  transform: translate(-50%, -50%);
  top: 50%;
  position: absolute;
  left: 50%;
}

.btn-primary__icon--prev {
  transform: translate(-50%, -50%) rotate(180deg);
}

.btn-primary--video {
  margin-top: 30px;
  padding: 22px 40px 20px;
  white-space: normal;
}

@media (max-width: 768px) {
  .btn-primary--video .btn-primary__icon-text {
    display: block;
    margin: 16px 0 0 0;
  }
}

.btn-primary__icon--video {
  display: inline-block;
  width: 19px;
  height: 20px;
  vertical-align: middle;
}

.btn-primary__icon--video polygon.outline {
  fill: #fff;
}

.btn-primary__icon--video polygon.play {
  transition: fill 0.125s linear;
  fill: #31ae1f;
}

.btn-primary:hover .btn-primary__icon--video polygon.play,
.btn-primary:active .btn-primary__icon--video polygon.play,
.btn-primary:focus .btn-primary__icon--video polygon.play {
  fill: #272727;
}

.btn-primary.btn-xl {
  padding: 16px 34px;
  font-size: 25px;
  line-height: 28px;
  padding: 23px 23px 21px 23px;
  font-size: 36px;
  line-height: 39px;
}

.btn-primary--carousel {
  position: absolute;
}

@media (max-width: 768px) {
  .btn-primary.btn-xl {
    padding: 18px 22px;
    font-size: 28px;
  }

  .btn-primary.btn-xl span {
    font-size: 12px;
    white-space: normal;
    line-height: 16px;
    margin-top: 10px;
  }
}

@keyframes bouncePrevArrow {
  0%,
  5%,
  35%,
  60%,
  100% {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  25% {
    transform: translate(-100%, -50%) rotate(180deg);
  }

  45% {
    transform: translate(-75%, -50%) rotate(180deg);
  }
}

@keyframes bounceNextArrow {
  0%,
  5%,
  35%,
  60%,
  100% {
    transform: translate(-50%, -50%);
  }

  25% {
    transform: translate(0%, -50%);
  }

  45% {
    transform: translate(-25%, -50%);
  }
}

@keyframes bounceDownloadArrow {
  0%,
  5%,
  35%,
  60%,
  100% {
    transform: translateY(0) rotate(90deg);
  }

  25% {
    transform: translateY(-8px) rotate(90deg);
  }

  45% {
    transform: translateY(-4px) rotate(90deg);
  }
}

.btn-video-play-icon {
  z-index: 220;
  position: relative;
  display: block;
  text-align: center;
  top: 50%;
  margin-top: -52px;
}

.btn-video-play-icon .icon-player-play-background-solid,
.btn-video-play-icon .icon-player-play-background-solid-small {
  transition: all 0.625s cubic-bezier(0, 0.8, 0.26, 0.99), opacity 0.025s linear;
}

.btn-video-play-icon .icon-player-play-background-solid polygon,
.btn-video-play-icon .icon-player-play-background-solid-small polygon {
  transition: fill 0.14s ease-out;
}

.btn-video-play-icon .icon-player-play {
  position: absolute;
  margin-left: -49px;
  margin-top: 38px;
}

.btn-video-play-icon--small {
  margin-top: -30px;
}

.btn-video-play-icon--small .icon-player-play {
  margin-left: -42px;
  margin-top: 32px;
}

@media (min-width: 768px) {
  a:hover .btn-video-play-icon .icon-player-play-background-solid #background,
  a:hover
    .btn-video-play-icon
    .icon-player-play-background-solid-small
    #background {
    fill: #272727;
  }

  a:hover
    .btn-video-play-icon
    .icon-player-play-background-solid
    #borderTopLeft,
  a:hover
    .btn-video-play-icon
    .icon-player-play-background-solid-small
    #borderTopLeft {
    fill: #3a3a3a;
  }

  a:hover
    .btn-video-play-icon
    .icon-player-play-background-solid
    #borderTopRight,
  a:hover
    .btn-video-play-icon
    .icon-player-play-background-solid-small
    #borderTopRight {
    fill: #555;
  }

  a:hover .btn-video-play-icon .icon-player-play-background-solid #borderLeft,
  a:hover
    .btn-video-play-icon
    .icon-player-play-background-solid-small
    #borderLeft {
    fill: #1c1c1c;
  }

  a:hover .btn-video-play-icon .icon-player-play-background-solid #borderRight,
  a:hover
    .btn-video-play-icon
    .icon-player-play-background-solid-small
    #borderRight {
    fill: #3a3a3a;
  }

  a:hover
    .btn-video-play-icon
    .icon-player-play-background-solid
    #borderBottomLeft,
  a:hover
    .btn-video-play-icon
    .icon-player-play-background-solid-small
    #borderBottomLeft {
    fill: #222;
  }

  a:hover
    .btn-video-play-icon
    .icon-player-play-background-solid
    #borderBottomRight,
  a:hover
    .btn-video-play-icon
    .icon-player-play-background-solid-small
    #borderBottomRight {
    fill: #222;
  }

  a:hover .btn-video-play-icon .icon-player-play-background-solid {
    transform: scale(1.2);
  }

  a:hover .btn-video-play-icon .icon-player-play-background-solid-small {
    transform: scale(1.16);
  }
}

